.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}


.card {
    --priority-color: transparent;

    margin: 10px;
}

.status {
    display: flex;
    justify-content: space-between;

    background: var(--priority-color);
}

.low {
    --priority-color: #ffb74d
}

.normal {
    --priority-color: #64b5f6
}

.high {
    --priority-color: #e33371
}
